<html>
  <h2>
    Estoque
  </h2>
  
  <table>
     <td>
  <tr>
     <td><label>Nome </label></td>
     <td><input name = "namebox"[(ngModel)]="produto.nome" ></td>
     <td><button name = "addbutton"(click)="criarProduto(produto)">Adicionar</button></td>
  </tr>
  <tr>
     <td><label>Preço </label></td>
     <td><input name = "pricebox" type="number" [(ngModel)]="produto.preco" ></td>
  </tr>
  <tr>
     <td><label>Imagem </label></td>
     <td><input name = "imgbox" [(ngModel)]="produto.img" ></td>
  </tr>
  <tr>
     <td><label>Quantidade </label></td>
     <td><input name = "qtbox" type="number" [(ngModel)]="produto.quantidade" ></td>
  </tr>
</td>
  <td>
      <tr>
            <th>Nome</th>
            <th>Preco</th>
            <th>Quantidade</th>
            <th>Imagem</th>
        </tr>
        <tr *ngFor="let p of produtos" name = "productlist">
            <td name = "namelist">{{p.nome}}</td>
            <td name = "pricelist">{{p.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</td>
            <td name = "qtlist">{{p.quantidade}}</td>
            <td name = "imglist"><img src = {{p.img}}></td>
        </tr>
  </td>
  </table>

  <router-outlet></router-outlet>
</html>