<html>
<table>
<tr>
   <td><label>Nome </label></td>
   <td><input [(ngModel)]="produtoAtual.name" name="namebox" ></td>
   <td name="addbuttom"><button (click)="criarProduto(produtoAtual)">Adicionar</button></td>
</tr>
<tr>
   <td><label>Telefone </label></td>
   <td><input [(ngModel)]="produtoAtual.telefone" name="fonebox" ></td>
</tr>
<tr>
   <td><label>Preço </label></td>
   <td><input [(ngModel)]="produtoAtual.preco" name="pricebox" ></td>
</tr>
<tr>
   <td><label>Imagem </label></td>
   <td><input [(ngModel)]="produtoAtual.imagem" name="imagebox" ></td>
</tr>
</table>

<table>
<tr *ngIf="listaProdutos.length > 0">
   <th>Nome</th>
   <th>Telefone</th>
   <th>Preço</th>
   <th>Imagem</th>
</tr>
<tr *ngFor="let a of listaProdutos" name="listproducts">
   <td name="nomelist">{{a.nome}}</td>
   <td name="fonelist">{{a.telefone}}</td>
   <td name="pricelist">{{a.preco}}</td>
   <td name="imagelist">{{a.imagem}}</td>
</tr>
</table>
</html>