<html>
    <nav>
        <a routerLink="/Pedidos">Voltar para os produtos</a>
    </nav>
  <h2>
    Informações do Cliente
  </h2>
  
  <table>
     <td>
  <tr>
     <td><label>Nome </label></td>
     <td><input [(ngModel)]="cliente.nome" ></td>
     <td><button (click)="criarPedido(pedido)">Realizar Pedido</button></td>
  </tr>
  <tr>
     <td><label>Telefone </label></td>
     <td><input [(ngModel)]="cliente.telefone" ></td>
  </tr>
  <tr>
     <td><label>email </label></td>
     <td><input [(ngModel)]="cliente.email" ></td>
  </tr>
</td>
  <td>
      <tr>
            <th>Nome</th>
            <th>Preco</th>
            <th>Quantidade</th>
            <th>Imagem</th>
        </tr>
        <tr *ngFor="let p of lista">
            <td>{{p.nome}}</td>
            <td >{{p.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</td>
            <td>{{p.quantidade}}</td>
            <td><img src = {{p.img}}></td>
        </tr>
  </td>
  </table>

      



  <router-outlet></router-outlet>
</html>