<html>
    <nav>
        <a routerLink="/Pedidos">Voltar para os produtos</a>
    </nav>
  <h2>
    Informações do Cliente
  </h2>
  
  <table>
     <td>
  <tr>
     <td><label>Nome </label></td>
     <td><input name = "namebox"[(ngModel)]="cliente.nome" ></td>
     <td><button name = "endbox" (click)="criarPedido(pedido)">Realizar Pedido</button></td>
  </tr>
  <tr>
     <td><label>Telefone </label></td>
     <td><input name = "fonebox"type="number" [(ngModel)]="cliente.telefone" ></td>
  </tr>
  <tr>
     <td><label>email </label></td>
     <td><input name = "emailbox" [(ngModel)]="cliente.email" ></td>
  </tr>
  <tr>
     <td><label>Quantidade </label></td>
     <td><input name = "qtbox" type="number" [(ngModel)]="produto.quantidade" ></td>
  </tr>
</td>
  <td>
      <tr>
            <th>Nome</th>
            <th>Preco</th>
            <th>Quantidade</th>
            <th>Imagem</th>
        </tr>
        <tr name = "productlist" *ngFor="let p of produtos">
            <td name = "namelist">{{p.nome}}</td>
            <td name = "pricelist">{{p.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</td>
            <td name = "qtlist">{{p.quantidade}}</td>
            <td name = "imglist"><img src = {{p.img}}></td>
        </tr>
  </td>
  </table>

      



  <router-outlet></router-outlet>
</html>